DEFINE QL(APPQ) DEFPSIST(YES)
DEFINE QL(APPQ_1) DEFPSIST(YES)
DEFINE CHANNEL(${channel_name}) CHLTYPE(SVRCONN) TRPTYPE(TCP)
SET CHLAUTH(${channel_name}) TYPE(BLOCKUSER) USERLIST(NOBODY)
REFRESH SECURITY TYPE(CONNAUTH)
