DEFINE QL(APPQ) DEFPSIST(YES) MAXDEPTH(5000000) REPLACE
DEFINE QL(APPQ_1) DEFPSIST(YES) MAXDEPTH(5000000) REPLACE
DEFINE CHANNEL(${channel_name}) CHLTYPE(SVRCONN) REPLACE
SET CHLAUTH(${channel_name}) TYPE(BLOCKUSER) USERLIST(NOBODY)
REFRESH SECURITY TYPE(CONNAUTH)