DEFINE QL(APPQ) MQIA_DEF_PERSISTENCE(MQPER_PERSISTENT)
DEFINE QL(APPQ_1) MQIA_DEF_PERSISTENCE(MQPER_PERSISTENT)
DEFINE CHANNEL(${channel_name}) CHLTYPE(SVRCONN) TRPTYPE(TCP) SSLCAUTH(OPTIONAL) SSLCIPH('ANY_TLS12_OR_HIGHER')
SET CHLAUTH(${channel_name}) TYPE(BLOCKUSER) USERLIST(NOBODY)
REFRESH SECURITY TYPE(CONNAUTH)
